<div class="header">
  <div class="container header-container">
    <h1 routerLink="/home" class="header-title">Hash-book</h1>
    <div class="header-links">
      <a routerLink="/home" routerLinkActive="active" class="header-link">Início</a>
      <a routerLink="/hash" routerLinkActive="active" class="header-link">Criar hash</a>
      <a routerLink="/new-chat" routerLinkActive="active" class="header-link">Adicionar conversa</a>
      <a routerLink="/chat" routerLinkActive="active" class="header-link">Conversas</a>
    </div>
  </div>
</div>