<hb-header></hb-header>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-3">
        <h4 class="column-title">Conversa</h4>
        <div class="mb-2">
          <span class="badge badge-secondary">{{ hash }}</span>
        </div>
        <div class="message">
          <div *ngFor="let msg of messages" class="text-left">
            <ng-container [ngSwitch]="msg.me">
              <div *ngSwitchCase="true" class="text-right">
                {{ msg.text }}
              </div>
              <div *ngSwitchDefault class="text-left">
                {{ msg.text }}
              </div>
            </ng-container>
          </div>
        </div>
        <div class="input-group mb-3">
          <input 
           #newText
           (keydown.enter)="send(newText.value)"
           type="text" class="form-control" placeholder="Mensagem">
          <div class="input-group-append">
            <button
              (click)="send(newText.value)"
              class="btn btn-success" type="button">Enviar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hb-footer></hb-footer>