<hb-header></hb-header>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <h4 class="column-title">Adicionar conversa</h4>
        <form class="mb-3" [formGroup]="form">
          <div class="form-group">
            <input 
              type="text" 
              class="form-control form-control"
              formControlName="hash"
              placeholder="Hash">
          </div>
          <div class="form-group">
            <input 
              type="text" 
              class="form-control form-control" 
              placeholder="Segredo"
              formControlName="secret">

              <div *ngIf="secretHasError">
                O campo segredo é obrigatorio
              </div>
              <div *ngIf="secretHasErrorMinLength">
                O segredo deve ter no minimo 5 letras
              </div>

          </div>
          <button 
            (click)="add()"
            class="btn btn-primary btn-block" 
            type="button">Adicionar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<hb-footer></hb-footer>