<hb-header></hb-header>
<div class="content">
  <div class="container">
    <h3>Sobre o Hash-book</h3>
    <p>O Hash-book é um sistema de mensagens Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus cumque reprehenderit commodi eius veritatis, nulla sequi quae alias ut vitae non, fugit quas. Distinctio qui esse tempora quaerat rem aliquam!</p>
    <p>Necessitatibus non, soluta est corporis labore omnis rerum aliquid ipsum, illo ipsam officia molestias eveniet a. Sit consequuntur recusandae et similique praesentium.</p>
    <h3>Vantagens</h3>
    <p>Eveniet molestiae quas. Dolore iure at ad, placeat neque voluptate asperiores facilis qui, dolorum eligendi tenetur eum porro deserunt, illum est? Labore sunt ratione animi vitae. Voluptatibus iste nisi dolor veniam velit perspiciatis, recusandae, eveniet, omnis reprehenderit corporis excepturi eaque maiores. Ducimus, rerum.</p>
  </div>
</div>
<hb-footer></hb-footer>